@bg-grey:#f5f5f5;
@bg-white:#ffffff;
@bg-th:#EEF2FB;

//字体样式
@color-blue:#478DE3;
@color-white:#ffffff;
@color-grey:#666666;
@color-red:#FF2711;
@color-6c:#6C7986;
@color-D6:#D6D8E6;

//边框样式
@border-e6:#e6e6e6;
@border-radius:6px;
